<template name="about">
  <div class="row">
    <a href="https://github.com/TheArcusProject/DayCaring"><img style="position: absolute; top: 10; right: 0; border: 0; z-index: 10;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    <div class="small-12 column">
      <h1>About</h1>
      <h4>
      DayCaring is an app designed for parents and daycare owners to locate and connect with one another. Parents can search for all nearby daycares in their area and receive honest in-depth information for each daycare, as well as ratings, reviews and violations. Daycare owners can respond to customer feedback to further enhance their daycare, as well as provide images and other useful info to parents.
      </h4>
    </div>
  </div>
</template>