<template name="auth_represent">

  <div class="row">
    <div class="small-12 columns">

      <div class="small-6 columns">
        <fieldset>
          <legend>Validate Email</legend>
          <form class="form1">
            <label>Email</label>
            <input type="text" name="email">
            <button type="submit" class="btn btn-primary">Send Authorization Email</button>
            <button type="reset" class="btn btn-default">Reset</button>
          </form>
        </fieldset>
      </div>

      <div class="small-6 columns">
        <fieldset>
          <legend>Validate Phone Number</legend>
          <form class="form2">
            <label>Phone Number</label>
            <input type="text" name="phone">
            <button type="submit" class="btn btn-primary">Send Authorization Text</button>
            <button type="reset" class="btn btn-default">Reset</button>
          </form>
        </fieldset>
      </div>

    </div>
  </div>

  <div id="repAuthModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  {{> repAuthModal}}
  </div>

</template>
