<template name="auth_represent">
   {{#autoForm schema=authrepSchema id="authrepForm" type="method" meteormethod="sendEmail"}}
   <fieldset>
       <legend>Validate Authorizaion</legend>
       {{> afQuickField name="email"}}
       {{> afQuickField name="phoneNumber"}}
       <div>
         <button type="submit" class="btn btn-primary">Submit</button>
         <button type="reset" class="btn btn-default">Reset</button>
       </div>
     </fieldset>
     {{/autoForm}}

  <!-- <div class="row">
    <div id="authrepresent" class="small-12 columns">
      <form>
        <div class="small-6 small-centered columns">
          Please enter the official school e-mail <input class='schoolEmail' type='text'>
        </div>
        <div class="small-6 small-centered columns">
          Or the official phone number <input class='schoolPhone' type='text'>
        </div>
        <div class="small-6 small-centered columns">
          <button class="button text-center">Submit</button>
        </div>
      </form>
    </div>
  </div> -->
</template>
