<template name="daycareinfo">
  {{> subheader}}

  <div id="daycareinfo" class="row" data-equalizer>

    <div id="localmap" class="small-12 medium-4 columns panel" data-equalizer-watch>
    </div>

    <div class="small-12 medium-8 columns" data-equalizer-watch>
      <ul>
        <li>Address</li>
        <li>Phone Number</li>
        <li>Hours of Operation</li>
        <li>Website</li>
        <li>Part-time Care</li>
        <li>Email</li>
        <li>Transportation Provided</li>
      </ul>
    </div>
  </div>

  <div id="stats" class="row">

    <div class="row" data-equalizer>
      <div class="small-2 columns" data-equalizer-watch>
        <h4>Administration</h4>
      </div>
      <div class="small-10 columns" data-equalizer-watch>
        <div class="progress">
          <span class="meter"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <h4>Basic Care</h4>
      </div>
      <div class="small-10 columns">
        <div class="progress">
          <span class="meter"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <h4>Health &amp; Safety</h4>
      </div>
      <div class="small-10 columns">
        <div class="progress">
          <span class="meter" style="width: 50%;"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <h4>Facilities</h4>
      </div>
      <div class="small-10 columns">
        <div class="progress">
          <span class="meter"></span>
        </div>
      </div>
    </div>


  </div>

  <div class="row">
    <h4>Daycare Reviews</h4>
    <div class="small-12 columns panel">
      {{> review}}
    </div>
  </div>

</template>
