<template name="daycareinfo">
  <div id="container" align="center">
    <h1>Daycare Information</h1>
	    <ul style="list-style-type:none">
	    	<li>Address</li>
	    	<li>Phone Number</li>
	    	<li>Hours of Operation</li>
	    </ul>
	    <a href="http://www.kidsrkids.com/" target="_blank">Visit a Daycare's Website</a>
	    <br>
	    <a href='#'>Find Compliance Information</a>
	 <p></p>
	  <form>
	   <label>Write a Review:</label>
	   <input type="text" name="review">
	   <input type="button" value="Submit">
	  </form>
	</div>
</template>
