<template name="daycareinfo">
  {{> subheader}}

  <div id="daycareinfo" class="row" data-equalizer>
    <div id="localmap" class="small-12 medium-4 columns panel" data-equalizer-watch>
      {{> gmap}}
    </div>
    <div class="small-12 medium-8 columns" data-equalizer-watch>
      <ul>
        <li>Address: {{address}}</li>
        <li>Phone Number: {{phoneNumber}}</li>
        <li>Hours of Operation: {{operationHours}}</li>
        <li>Website or Email: {{{website}}}</li>
        <li>Part-time Care: {{partTimeCare}}</li>
        <!-- 8 in booleans index 27-->
        <li>Transportation Provided: {{transportationProvided}}</li>
        <!-- 9 in booleans index 28-->
      </ul>
    </div>
  </div>

  <div id="stats" class="row">
    {{> stats}}
  </div>

  <div class="row">
    <h4>Daycare Reviews</h4>
    <div class="small-12 columns panel">
      {{> review}}
    </div>
  </div>

</template>
