<template name="payment">

  <div class="row">
    <div class="small-12 medium-4 columns panel">
      <div class="form-group">
        <label class="text-success"><i class="fa fa-lock"></i>Credit Card Number</label>
        <input type="text" data-stripe="cardNumber" class="form-control card-number" placeholder="Card Number">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-4 columns panel">
      <div class="small-4 columns">
        <label>Exp. Mo.</label>
        <input type="text" data-stripe="expMo" class="form-control exp-month" placeholder="Exp. Mo.">
      </div>
      <div class="small-4 columns">
        <label>Exp. Yr.</label>
        <input type="text" data-stripe="expYr" class="form-control exp-year" placeholder="Exp. Yr.">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-4 medium-2 columns panel">
      <label>CVC</label>
      <input type="text" data-stripe="cvc" class="form-control cvc" placeholder="CVC">
    </div>
  </div> 

  <button id="ccsubmit" type="submit" class="btn btn-primary">Submit</button>

</template>