<template name="represent">
  <div class="row">
    <div class="small-12 columns">
      <button class="backToDaycare">Back to Daycare</button>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns" data-equalizer-watch>
      <div class="row">
        <div class="small-10 columns panel">
          {{#if isReady 'daycares'}} {{#each getDaycare}}
          <form id='description'>
            {{#if checkDescription description}}
            <h4>{{toTitleCase name}} Description</h4>
              {{description}}
            <br>
            <br>
            <textarea rows="10" id="descriptionText" placeholder="Update your description."></textarea>
            <button type="submit" form="description" value="Submit">Update Your Description</button>
            {{else}}
            <h4>Describe {{toTitleCase name}}</h4>
            <textarea rows="10" id="descriptionText" placeholder="Describe your daycare."></textarea>
            <button type="submit" form="description" value="Submit">Submit</button>
            {{/if}}
          </form>
          {{/each}} {{/if}}
        </div>
      </div>
    </div>
    <div class="small-12 columns" data-equalizer-watch>
      <div class="row">
        <div class="small-10 columns panel">
          {{#if isReady 'daycares'}} {{#each getDaycare}}
          <h4>Upload pictures</h4>
          <input type="file" id="file" /> {{/each}} {{/if}}
        </div>
      </div>
      <div class="row">
        <div class="small-10 columns panel">
          <h4>Pictures</h4>
          <div class="small-block-grid-5">
            <ul class="small-block-grid-3">
              {{#if isReady 'pictures'}} {{#each getPictures}}
              <li>
                {{> pictureRow}}
              </li>
              {{/each}} {{/if}}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-10 columns panel" data-equalizer-watch>
      <h4>Waitlist</h4> {{#if isReady 'waitlists'}} {{#with getWaitlistData}} {{> waitlist}} {{/with}} {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="small-10 columns panel">
      <h4>Daycare Reviews</h4> {{#if isReady 'reviews'}} {{#with getReviews}} {{> review}} {{/with}} {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="small-10 columns panel" data-equalizer-watch>
      <h4>Messages</h4> {{#if isReady 'messages'}} {{#with getMessages}} {{> message}} {{/with}} {{/if}}
    </div>
  </div>
  <div id="PMReplyModal" class="reveal-modal" data-reveal aria-labelledby="thirdModalTitle" aria-hidden="true" role='dialog'>
   {{> PMReplyModal}}
  </div>
</template>
