<template name="review">
  {{saveAdmin}}
  {{saveAuthor}}
  {{#each getReviews}}
    <div class="row">
      <div class="small-3 columns">
        <h4>{{user}}</h4>
        <p>Austin, Texas</p>
      </div>
      <div class="small-6 columns">
        <h6>{{formattedDate createdAt}}</h6>
        <p>{{comment}}</p>
      </div>
      {{#if getIsAuthor}}
      <div class="small-3 columns">
        <button id="deleteComment">X</button>
      </div>
      {{/if}}
      {{#if getIsAdmin}}
      <textarea rows="10" id="responseText" placeholder="Respond to this comment."></textarea>
      <div class="small-3 columns">
        <button id="respondToComment">Respond</button>
      </div>
      {{/if}}
      {{#if isResponse}}
        <div class="row">
        <div class="small-10 small-offset-3 columns">
          <h5>{{daycareRep}} - {{daycareName}}</h5>
          <h6>{{formattedDate responseDate}}</h6>
        </div>
        </div>
        <div class="row">
          <div class="small-10 small-offset-3 columns">
            <p>{{response}}</p>
          </div>
        </div>
      {{/if}}
      <hr>
    </div>
  {{/each}}
</template>


