<template name="reviewModal">
	
	<div class="row">
		<div class="small-6 columns">
      <h2>Daycare Name</h2>
    </div>
  </div>

  <div class="row">
		<div class="small-8 columns panel">
			<h4>Your Review for {{daycare.name}}</h4>
			<label>
				<textarea rows="10" placeholder="Your review helps others to find the perfect daycare.">
				</textarea>
			</label>
		</div>
	</div>

	<div class="row">
		<div class="small-3 columns">
			<input class="button" value="Submit your review">
		</div>
	</div>

  <a class="close-reveal-modal" aria-label="Close">&#215;</a>

</template>

