<template name="reviewModal">
	
	<div class="row">
		<div class="small-6 columns">
      <h2>{{daycareName}}</h2>
    </div>
  </div>

  <div class="row">
		<div class="small-10 columns panel">
			<h4>Your Review for {{daycareName}}</h4>
				<textarea rows="10" placeholder="Help others to find the perfect daycare."></textarea>
		</div>
	</div>

	<div class="row">
		<div class="small-3 columns">
			<a class="button" data-reveal-id="submittedReview">Submit your review</a>
		</div>
	</div>

	<div id="submittedReview" class="reveal-modal small" data-reveal aria-labelledby="secondModalTitle" aria-hidden="true" role="dialog">
	  <h2 id="secondModalTitle">Thank you for your review!</h2>
	  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>

	<a class="close-reveal-modal" aria-label="Close">&#215;</a>

</template>

