<template name="stats">
  {{grossHack}}
  <div class="row" data-equalizer>
    <div class="small-2 columns" data-equalizer-watch>
      <h4>Administration</h4>
    </div>
    <div class="small-10 columns" data-equalizer-watch>
      <div class={{getColor 0}}>
        <span class="meter" style={{getScore 0}}></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <h4>Basic Care</h4>
    </div>
    <div class="small-10 columns">
      <div class={{getColor 1}}>
        <span class="meter" style={{getScore 1}}></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <h4>Health &amp; Safety</h4>
    </div>
    <div class="small-10 columns">
      <div class={{getColor 2}}>
        <span class="meter" style={{getScore 2}}></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <h4>Facilities</h4>
    </div>
    <div class="small-10 columns">
      <div class={{getColor 3}}>
        <span class="meter" style={{getScore 3}}></span>
      </div>
    </div>
  </div>
</template>
