<template name="stats">
  <div class="row" data-equalizer>
    <div class="small-2 columns" data-equalizer-watch>
      <h4>Administration</h4>
      {{getViolations}}
    </div>
    <div class="small-10 columns" data-equalizer-watch>
      <div class="progress">
        <span class="meter"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <h4>Basic Care</h4>
    </div>
    <div class="small-10 columns">
      <div class="progress success">
        <span class="meter" style="width: 87%;"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <h4>Health &amp; Safety</h4>
    </div>
    <div class="small-10 columns">
      <div class="progress alert">
        <span class="meter" style="width: 30%;"></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <h4>Facilities</h4>
    </div>
    <div class="small-10 columns">
      <div class="progress">
        <span class="meter"></span>
      </div>
    </div>
  </div>
</template>
