<template name="subheader">
  <div class="row">
    <div id="subheader" class="small-12 columns">
      <h2>{{daycareName}}</h2>
      <a href="#" class="button" data-reveal-id="reviewModal">Write a Review</a>
      <button type="button" class="button represent">Represent this Daycare</button>
      <button type="button" class="button backToResults">Return to Search Results</button>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
    </div>
  </div>
  <div id="reviewModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    {{> reviewModal}}
  </div>
</template>
