<template name="user_dashboard">
   <div class="row">
    <div class="small-10 columns panel" data-equalizer-watch>
      <h4>Waitlist</h4> {{#if isReady 'waitlists'}} {{#with getWaitlistData}} {{> waitlist}} {{/with}} {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="small-10 columns panel" data-equalizer-watch>
      <h4>Your Comments</h4>
    </div>
  </div>
  <div class="row">
    <div class="small-10 columns panel">
      <h4>Your Reviews</h4> {{#if isReady 'reviews'}} {{#with getReviews}} {{> review}} {{/with}} {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="small-10 columns panel" data-equalizer-watch>
      <h4>Messages</h4>
    </div>
  </div>
</template>