<template name="user_dashboard">
   <div class="row">
    <div class="small-10 columns panel" data-equalizer-watch>
      <h4>Your Waitlists</h4> {{#if isReady 'waitlists'}} {{#with getWaitlistData}} {{> waitlist}} {{/with}} {{/if}}
    </div>
  </div>

  <!-- <div class="row">
    <div class="small-10 columns panel">
      <h4>Your Reviews</h4> {{#if isReady 'reviews'}} {{#with getReviews}} {{> review}} {{/with}} {{/if}}
    </div>
  </div> -->

  <div class="row">

  	<div class="small-10 columns panel">
  		<h4>Your Reviews</h4>
			  {{#with getReviews}}
			  	{{#each userReviews}}
			      <div class="row">
			        <div class="small-3 columns">
			          <h5><strong>{{daycareName}}</strong></h5>
			        </div>
			        <div class="small-6 columns">
			          <h6>{{formattedDate createdAt}}</h6>
			          <p>{{comment}}</p>
			        </div>
			        <div class="small-3 columns">
			          <button id="deleteComment">X</button>
			        </div>
			        <hr>
			      </div>
		    	{{/each}}
		    {{/with}}
  	</div>
  </div>
  <div class='row'>
    <div class="small-10 columns panel" data-equalizer-watch>
      <h4>Your Messages</h4> {{#if isReady 'messages'}} {{#with getMessages}} {{> message}} {{/with}} {{/if}}
    </div>
  </div>

  <!--   <div id="paymentModal" class="reveal-modal" data-reveal aria-labelledby="anotherModalTitle" aria-hidden="true" role="dialog">
      {{#if isReady 'daycares'}} {{#each getDaycare}} {{> paymentModal}} {{/each}} {{/if}}
    </div> -->
</template>