<template name="user_dashboard">

  <div class="row">
    <div class="small-12 columns">

      <ul class="tabs show-for-medium-up" data-tab>
        <li class="tab-title active"><a href="#waitlists">Waitlists</a></li>
        <li class="tab-title"><a href="#reviews">Reviews</a></li>
        <li class="tab-title"><a href="#messages">Messages</a></li>
      </ul>

      <dl class="accordion" data-accordion>
        <dd class="accordion-navigation">

          <a href="#waitlists" class="show-for-small-only">Waitlists</a>
          <div id="waitlists" class="content active">
            <div class="content-box section-box">
              <div class="row">
                {{#if isReady 'waitlists'}} {{#with getWaitlistData}} {{> waitlist}} {{/with}} {{/if}}
              </div>
            </div>
          </div>

          <a href="#reviews" class="show-for-small-only">Reviews</a>
          <div id="reviews" class="content">
            <div class="content-box section-box">
              <div class="row">
                <div class="small-12 columns panel">
                    {{#with getReviews}}
                      {{#each userReviews}}
                        <div class="row">
                          <div class="small-3 columns">
                            <h5><a href="/{{daycare}}"><strong>{{daycareName}}</strong></a></h5>
                          </div>
                          <div class="small-6 columns">
                            <h6>{{formattedDate createdAt}}</h6>
                            <p>{{comment}}</p>
                          </div>
                          <div class="small-3 columns" align="right">
                            <button id="deleteComment">X</button>
                          </div>
                          <hr>
                        </div>
                      {{/each}}
                    {{/with}}
                </div>
              </div>
            </div>
          </div>

          <a href="#messages" class="show-for-small-only">Messages</a>
          <div id="messages" class="content">
            <div class="content-box section-box">
              <div class="row">
                {{#if isReady 'messages'}} {{#with getMessages}} {{> message}} {{/with}} {{/if}}
              </div>
            </div>
          </div>

        </dd>
      </dl>

    </div>
  </div>

  <!--   <div id="paymentModal" class="reveal-modal" data-reveal aria-labelledby="anotherModalTitle" aria-hidden="true" role="dialog">
      {{#if isReady 'daycares'}} {{#each getDaycare}} {{> paymentModal}} {{/each}} {{/if}}
    </div> -->
</template>