<template name="waitlistModal">
  <h2 class="text-center centered">Waitlist for {{name}}</h2>
  <form class="centered multi-form">
    <fieldset class="active">
      <legend>
        <h5 class="text-center fs-title">Register for the Waitlist</h5>
      </legend>
      <h6 class="fs-subtitle">Please enter the following info to be added to the waitlist</h6>
      <div class="row">
        <div class="small-12 medium-6 columns">
          <label for="">First Name</label>
          <input type="text" name="firstName" placeholder="First Name">
        </div>
        <div class="small-12 medium-6 columns">
          <label for="">Last Name</label>
          <input type="text" name="lastName" placeholder="Last Name">
        </div>
      </div>
    </fieldset>
    <div class="buttons">
      
      <a href="#" class="button secondary next right" data-reveal-id="paymentModal">Next</a>
      <button class="submit right">Submit</button>
    </div>
  </form>
</template>

<!-- <template name="paymentModal">
  <h2 class="text-center centered">Waitlist for {{name}}</h2>
  <form class="centered multi-form">
    <fieldset>
      <legend>
        <h5 class="text-center fs-title">
    		  Enter Payment Information
    		</h5>
      </legend>
      <h6>
    		Please fill out the following form to waive the $50 waitlist fee.
    	</h6>
      <div class="row">
        <div class="small-12 columns">
          <label for="">Credit Card Number</label>
          <input type="string" name="ccNum" placeholder="Enter Credit Card Number">
        </div>
      </div>
    </fieldset>
    <div class="buttons">
    <a href="#" class="button secondary prev left" data-reveal-id="waitlistModal">
    Prev</a>
    <a class="button secondary next right">Next</a>
    </div>
  </form>
</template> -->
