<template name="waitlist">
  {{grossHack}}
  {{#each getArr}}
    <div class="row">
      {{#if isAdmin}}
        <div class='small-5 columns'>
        <h5><strong>{{user}}</strong></h5>
          {{#each children}}
            <p>
              {{childName}}, age: {{age}}
            </p>
          {{/each}}
        </div>
      {{else}}
        <div class='small-5 columns'>
        <h5><a href="/{{daycareId}}"><strong>{{daycareName}}</strong></a></h5>
          {{#each children}}
            <p>
              {{childName}}, age: {{age}}
            </p>
          {{/each}}
        </div>
      {{/if}}
      {{#if isAdmin}}
        <div class='small-7 columns'>
          {{#if accepted}}
            <div class='small-5 columns'>
              Accepted
            </div>
          {{else}}
            <div class='small-5 columns'>
              <button id='acceptButton'>Accept</button>
            </div>
          {{/if}}
          {{#if accepted}}
            {{#if registrationFeePaid}}
              <div class='small-5 columns'>
                Registration Fee Paid
              </div>
            {{else}}
              <div class='small-5 columns'>
                Payment Pending
              </div>
            {{/if}}
          {{/if}}
          <div class='small-2 columns'>
            <button id='removeWaitlist'>X</button>
          </div>
        </div>
      {{else}}
        <div class='small-7 columns'>
          {{#if accepted}}
            <div class='small-5 columns'>
              Accepted
            </div>
          {{else}}
            <div class='small-5 columns'>
              Acceptance Pending
            </div>
          {{/if}}
          {{#if accepted}}
            {{#if registrationFeePaid}}
              <div class='small-5 columns'>
                Registration Fee Paid
              </div>
            {{else}}
              <div class='small-5 columns'>
                <button id='payRegistrationFee'>Pay Registration Fee</button>
              </div>
            {{/if}}
          {{/if}}
          <div class='small-2 columns'>
            <button id='removeWaitlist'>X</button>
          </div>
        </div>
      {{/if}}
    </div>
    <hr>
  {{/each}}
</template>