<template name="waitlistModal">
  <h2 class="text-center centered">Waitlist for {{getDaycareName}}</h2>
  <form class="centered waitlistForm">
    <fieldset class="active">
      <legend>
        <h5 class="text-center fs-title">Register for the Waitlist</h5>
      </legend>
      <h6 class="fs-subtitle">Please enter the following info to be added to the waitlist!</h6>
      <div class="row">
        <div class="small-12 medium-12 columns">
          <label for="">Name</label>
          <input type="text" name="parentName" placeholder="Parent Name">
        </div>
      </div>
      <!--Child 1-->
      <div class="row">
        <div class="small-12 medium-6 columns">
          <label for="">Child #1</label>
          <input type="text" name="firstChildName" placeholder="Child Name">
        </div>
        <div class="small-12 medium-6 columns">
          <label for="">Age of Child</label>
          <input type="text" name="firstChildAge" placeholder="Age of Child">
        </div>
      </div>
      <!--Child2-->
      <!-- <div class="row">
        <div class="small-12 medium-6 columns">
          <label for="">Child #2</label>
          <input type="text" name="secondChildName" placeholder="Child Name">
        </div>
        <div class="small-12 medium-6 columns">
          <label for="">Age of Child</label>
          <input type="number" name="secondChildAge" placeholder="Age of Child">
        </div>
      </div> -->
      <!--Child3-->
      <!-- <div class="row">
        <div class="small-12 medium-6 columns">
          <label for="">Child #3</label>
          <input type="text" name="thirdChildName" placeholder="Child Name">
        </div>
        <div class="small-12 medium-6 columns">
          <label for="">Age of Child</label>
          <input type="number" name="thirdChildAge" placeholder="Age of Child">
        </div>
      </div> -->
      <!--Requested start date/phone number-->
      <div class="row">
        <div class="small-12 medium-6 columns">
          <label for="">Desired Start Date</label>
          <input type="date" name="startDate">
        </div>
        <div class="small-12 medium-6 columns">
          <label for="">Phone Number</label>
          <input type="text" name="phoneNumber" placeholder="Phone #">
        </div>
      </div>
      <!--Address Line 1-->
      <div class="row">
        <div class="small-12 medium-12 columns">
          <label for="">Address Line 1</label>
          <input type="text" name="address1" placeholder="Address Line 1">
        </div>
      </div>
      <!--Address Line 2-->
      <div class="row">
        <div class="small-12 medium-4 columns">
          <label for="">City</label>
          <input type="text" name="city" placeholder="City">
        </div>
        <div class="small-12 medium-4 columns">
          <label for="">State</label>
          <input type="text" name="state" placeholder="State">
        </div>
        <div class="small-12 medium-4 columns">
          <label for="">Zip Code</label>
          <input type="text" name="zippycode" placeholder="Zip Code">
        </div>
      </div>
    </fieldset>
    <div class="buttons">
      <button type="submit" class="btn btn-primary right">Next</button>
      <!-- <a href="#" type="submit" class="button secondary next right" data-reveal-id="paymentModal">Next</a> -->
    </div>
  </form>
</template>