// Custom styles that override Foundation

.section1 {
  min-width: 100%;
  min-height: 600px;
  // background-color: $smoke;
}

#logo {
  height: 62px;
  width: 50px;
}

#login-buttons .login-close-text {
  margin-bottom: 17px;
}

#login-buttons #signup-link {
  float: left;
  margin-bottom: 10px;
}



.button {
  box-shadow: 0 3px 0 darken($secondary-color, 10%);
  margin-bottom: 0;
}

.top-bar-section ul li {
  background: none;
}

.title {
  font-size: 1.4em;
  color: #fff;
  :hover {
    background-color: $primary-color;
  }
}

.map-container {
 min-width: 100%;
 height: 400px;
}



