// Custom styles that override Foundation

.section1 {
  min-width: 100%;
  min-height: 600px;
  // background-image: url("../../../../bg-02.jpeg");
  // background-image: url("http://maps.googleapis.com/maps/api/staticmap?center=Albany,+NY&zoom=13&scale=2&size=600x300&maptype=roadmap&format=png&visual_refresh=true&style=feature:road.highway%7element:labels%7visibility:off&style=feature:road.highway%7Celement:geometry%7Cvisibility:simplified%7Ccolor:0xFFFFFF&style=feature:transit.line%7Cvisibility:simplified%7Ccolor:0xbababa&style=feature:road.highway%7Celement:labels.text.stroke%7Cvisibility:off%7Ccolor:0xb06eba&style=feature:road.highway%7Celement:labels.text.fill%7Cvisibility:off%7Ccolor:0xffffff");
  // background-color: rgb(229, 227, 223);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-color: $smoke;
}

#logo {
  height: 62px;
  width: 50px;
}

#login-buttons .login-close-text {
  margin-bottom: 17px;
}

#login-buttons #signup-link {
  float: left;
  margin-bottom: 10px;
}



.button {
  box-shadow: 0 3px 0 darken($secondary-color, 10%);
  margin-bottom: 0;
}

.top-bar-section ul li {
  background: none;
}

.title {
  font-size: 1.4em;
  color: #fff;
  :hover {
    background-color: $primary-color;
  }
}

.map-container {
 min-width: 100%;
 height: 400px;
}



