.progress {
  margin-top: 7px;
}

#daycareinfo {
  // max-width: 100px;
  border-bottom: 1px solid $white-smoke;
  // min-height: 400px;
  .panel {
    background-color: #fff;
    border: none;
  }
  h3 {
    display: inline-block;
  }

  .phone {
    float: right;
  }
  ul {
    list-style-type: none;
    margin-bottom: 0;
  }

  .button {
    margin-top: 13px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }
}


#stats {
  // padding: 10px;
  border-bottom: 1px solid $white-smoke;
  .violations {
    background-color: $charcoal;
    color: #fff;
    float: right;
    box-shadow: none;
    :hover {
      background-color: scale-color($charcoal, $lightness: 20%);
    }
  }

}

#localmap {
  .map-container {
    height: 300px;
    min-height: 300px;
  }
}