.full-width {
  max-width: 1400px;
}

// footer CSS

.footer {
  background-color: $primary-color;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: 0px -7px 12px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -7px 12px -8px rgba(0,0,0,0.75);
  box-shadow: 0px -7px 12px -8px rgba(0,0,0,0.75);
  i {
    font-size: 100px;
  }
}

.footer {
  h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p {
    font-weight: 300;
    font-size: .8rem;
  }
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
     border-left: 1px solid scale-color(#fff, $lightness: -30%);
     min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  a {
    color: #fff;
    font-weight: 300;
    font-size: .8rem;
  }
  li {
    margin-top: .5rem;
  }
}