// Main Search Stylings

#magnify {
  margin: 0 auto;
  display: inherit;
  width: 165px;
  height: 180px;
}
#search {
  // margin-top: 5%;
  position: absolute;
  z-index: 2;
  h1 {
    text-align: center;
  }
  h4 {
    text-align: center;
  }
}

input[type="text"] {
  border: none;
  box-shadow: none;
}
// .section1 {
//   .map-container {
//     height: 550px;

//   }
// }

#submit {
  display: inherit;
  margin: 0 auto;
}

#map {
  // background-color: #ccc;
  z-index: 0;
}