

#searchSubheader {
  background-color: $smoke;
}

#resultsToggle {
  padding: 25px;
  border-bottom: 2px solid #cccccc;
  background-color: $white;
  .resultsToggleButton {
    background-color: $primary-color;
    color: $white;
    font-size: 1.2rem;
    font-family: "Roboto";
    display: inline-block;
    box-shadow: 0 4px 2px #cccccc;
    border: 4px solid $primary-color;
    :hover {
      box-shadow: 0 4px 3px #cccccc;
      // background-color: $smoke;
      color: $charcoal;
    }
  }
  .active {
    box-shadow: none;
    background-color: $white;
    color: $charcoal;
    box-shadow: 0 0px 0px #cccccc;
    border: 4px solid $secondary-color;
  }
  :focus {
    outline: none;
  }
}
#results {
  min-height: 600px;
  li {
    background-color: $white;
    border: 5px solid $smoke;
    // min-height: 250px;
  }

  p {
    color: $base;
  }

  img {
    height: 100px;
    width: auto;
    float: right;
  }

  padding-bottom: 1.25rem;
}

.pagination {
  padding-top: 10px;
}

